<div class = "hero">
  <br/>
  <br />
  <div class = "tagline">
    <h1>We're here to play.</h1>
    <br />
    <%= link_to "Get Started", new_user_session_path, class: 'btn btn-primary'%>
    <%= link_to "Learn More", '#', class: 'btn btn-success' %>
    <i class="fas fa-chess"></i>
  </div>
</div>

<div class = "about">
  <h1>About Chess-Boxing</h1>
</div>