<div class = "hero">
  <br/>
  <br />
  <div class = "tagline">
    <h1>We're here to play.</h1>
    <br />
    <%= link_to "Get Started", new_user_session_path, class: 'btn btn-primary'%>
    <i class="fas fa-chess"></i>
  </div>
</div>