@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lato|Oswald|Prata');


// GENERAL

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

body {
  transition: 0.5s all;
}

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  width: 100;
  height: 50px;
  background-color:black;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 0px;
  color: white;
}

#footer a {
  text-decoration: none;
  color: white;
}

#footer a:hover {
  color: #9BC53D;
}
// HOMEPAGE HERO AND NAVBAR
.hero {
  min-height: 600px;
  padding-top: 0;
  padding-bottom: 0;
  background: url('homepage.jpg') no-repeat center center fixed;
}

.tagline h1 {
  font-family: 'Oswald', sans-serif;
  font-color: grey;
  font-size: 50px;
  font-weight: 200;
  letter-spacing: 2px;
}

.tagline {
  padding-left: 60px;
  padding-top: 130px;
  padding-bottom: 50px;
  background-color: #ECECEC;
  position: relative;
}

.navbar-brand {
  margin-left: 30px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 100 !important;
  font-size: 25px;
}

.navbar-nav {
  margin-right: 30px;
}


.changeNavbarColor {
  background-color: white;
  opacity: 0.99;
  border-bottom: 0.5px solid;
  border-color: grey;
}

.nav-item {
  margin-right: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
}

img.text-bottom{
  vertical-align: text-bottom;
}

// HOMEPAGE ABOUT SECTION
.about {
  background-color: #9BC53D;
  padding: 60px 150px 60px 150px;
}

.about h1 {
  font-family: 'Oswald', sans-serif;
}

.about p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.process-title {
  color: black;
  background-color: #ECECEC;
  padding: 60px 150px 60px 150px; 
}

.process-title h1, .tools-title h1 {
  font-family: 'Oswald', sans-serif;
}

.tools-title {
  color: black;
  padding: 60px 60px 60px 60px; 
}
.orange {
  padding: 60px;
  background-color: #FA7921;
  color: white;
}

.section {
  margin-top: 30px;
}

.yellow {
  padding: 60px;
  background-color: #FDE74C;
  color: black;
}

.red {
  padding: 60px;
  background-color: #E55934;
  color: white;
}

.blue {
  padding: 60px;
  background-color: #5BC0EB;
  color: black;
}

.code-description h2 {
  font-family: 'Oswald', sans-serif;
}

.code-description p {
  font-family: 'lato', sans-serif;
  font-size: 20px;
}

.wireframe{
  padding: 20px;
  background: url('wireframe.jpg');  //no-repeat center center fixed;
  min-height: 646px;
}

.team {
  padding: 10px;
}
.team h6 {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.team p{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.team-detail {
  display:none;
}

// BUTTONS
.btn {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn.btn-info{
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border: 1px solid;
  border-color: black;
}

.btn.btn-info:hover{
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  border: 1px solid;
  border-color: black;
}

.btn.btn-primary{
  border-radius: 0px;
  padding: 15px 20px 15px 20px;
  color:black;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid;
  border-color: black;
}

.btn.btn-primary:hover {
  border-radius: 0px;
  padding: 15px 20px 15px 20px;
  color:black;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid;
  border-color: black;
}

.btn.btn-success{
  border-radius: 0px;
  padding: 15px 20px 15px 20px;
  color:white;
  background-color: #E55934;
  border: 1px solid;
  border-color: black;
}

.btn.btn-success:hover{
  border-radius: 0px;
  padding: 15px 20px 15px 20px;
  color:#E55934;
  background-color: white;
  opacity: 20%;
  border: 1px solid;
  border-color: black;
}

// CHESS BOARD 
table.chessboard  {
  display:block;
  padding:0px;
  margin:0px;
}

table.chessboard {
  height:496px;
}

td {
  width:62px;
  height:62px;
  float:left;
}

tbody {
  border: 2px solid black; 
}

#pos0_0, #pos0_2, #pos0_4, #pos0_6, #pos1_1,#pos1_3, #pos1_5, #pos1_7, #pos2_0, #pos2_2, #pos2_4, #pos2_6, #pos3_1, #pos3_3, #pos3_5, #pos3_7, #pos4_0, #pos4_2, #pos4_4, #pos4_6, #pos6_0, #pos6_2, #pos6_4, #pos6_6,#pos5_1, #pos5_3, #pos5_5, #pos5_7, #pos7_1, #pos7_3, #pos7_5, #pos7_7 {
  background-color:rgba(90, 54, 6, 0.8);
}

#pos0_1, #pos0_3, #pos0_5, #pos0_7, #pos1_0, #pos1_2, #pos1_4, #pos1_6, #pos2_1, #pos2_3, #pos2_5, #pos2_7, #pos3_0, #pos3_2, #pos3_4, #pos3_6, #pos4_1, #pos4_3, #pos4_5, #pos4_7, #pos5_0, #pos5_2, #pos5_4, #pos5_6,#pos6_1, #pos6_3, #pos6_5, #pos6_7, #pos7_0, #pos7_2, #pos7_4, #pos7_6 {
  background-color: white;
}

.draggable {
  
}

// MODAL
.modal-title{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  text-align: center;
  color: white;
}

.modal-header {
  background-color: #E55934;
}

.modal-content {
  opacity: 0.95;
}

.modal-body input {
  min-width: 100%;
  font-size: 18px;
  border: 2px solid grey;
}

.modal-body input:focus{
  border-color: #5BC0EB;
  box-shadow:0 0 8px 0 dodgerBlue;
}
.modal-body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

input::placeholder{
  color: grey;
  font-family: "Lato", sans-serif;
}

.btn-modal{
  width: 50px!important;
  background-color: #E55934;
  color: white;
  font-family: "Lato", sans-serif;
  border: 1px solid black;
  border-radius: 0px;
}

// GAME SHOW PAGE
.game-title {
  text-align: center;
}